<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rolldice</title>
</head>
<body>
    <h1>Roll Dice Page: <%= diceVal %></h1>
    
    <p>Click the button to roll the dice!</p>
    <form  action="/rolldice">
        <button type="submit">Roll Dice</button>
    </form>



</body>
</html>