body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1{
    height: 600px;
    width: 600px;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;

}
#box2{
    height: 100px;
    width: 100px;
    background-color: antiquewhite;
    
}
