<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> WELCOME!</h1>
    <br>
    <h1>The total number of users connected with us are: <%=X%> </h1>
    <br>

    <a href="/users"><button>See Users</button></a>
    
</body> 
</html>